## Notebook para limpiar el CSV

Este notebook solo se usa para limpiar filas en blanco y cambiar el formato de ciertas columnas

In [63]:
import pandas as pd

In [64]:
df = pd.read_csv(r'A:\Computacion\Data-Science\registro-civil-costa-rica-data-mining\data.csv')
df

C:\Users\Gaboelc\AppData\Local\Temp\ipykernel_3800\3142347283.py:1: DtypeWarning: Columns (5) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(r'A:\Computacion\Data-Science\registro-civil-costa-rica-data-mining\data.csv')

,Numero de cedula,Nombre completo,Fecha de nacimiento,Edad,Nacionalidad,Marginal,Conocido/a como,Nombre del padre,Cedula del padre,Nombre de la madre,Cedula de la madre
0,107750001.0,JUAN CARLOS ARAYA VINDAS,17/6/1970,52 AÑOS,COSTARRICENSE,False,NaN,PAULINO ARAYA MOLINA,0.0,ALICIA VINDAS ROJAS,0.0
1,107750002.0,LAURA INES RODRIGUEZ BLANCO,00/00/1966,NaN,COSTARRICENSE,False,NaN,PASTOR RODRIGUEZ SOTO,0.0,BLANCA BLANCO PORRAS,0.0
2,107750003.0,CLARA ROSA GARCIA VARGAS,00/00/1965,NaN,COSTARRICENSE,False,NaN,NaN,0.0,ELSA GARCIA VARGAS,0.0
3,107750005.0,INNOMINADO SOLANO MORA,17/8/1967,1 DIA,COSTARRICENSE,False,NaN,RODOLFO SOLANO CALVO,0.0,ALICIA MARTHA MORA RIVERA,0.0
4,107750007.0,INNOMINADO JIMENEZ CALVO,14/8/1967,1 DIA,COSTARRICENSE,False,NaN,FRANCISCO JIMENEZ DELGADO,0.0,ANA VIRGINIA CALVO ARAYA,0.0
...,...,...,...,...,...,...,...,...,...,...,...
551986,112520818.0,DAVID ALBERTO MORA SALAS,04/09/1985,37 AÑOS,COSTARRICENSE,False,NaN,JESUS MORA QUESADA,0.0,MARIA ELENA SALAS PORRAS,103650830.0
551987,112520819.0,JORGE FRANCISCO CERDAS UREÑA,04/09/1985,37 AÑOS,COSTARRICENSE,False,NaN,AMANCIO CERDAS NAVARRO,0.0,EIDA UREÑA FALLAS,105610772.0
551988,112520820.0,JESSICA YADIRA MENA VARGAS,05/09/1985,1 DIA,COSTARRICENSE,False,NaN,VERLEY MENA GOMEZ,0.0,GRACE VARGAS CASTRO,106140306.0
551989,112520821.0,NATASHA MARIA CERDAS MONGE,06/09/1985,1 AÑO,COSTARRICENSE,False,NaN,URIEL RODOLFO CERDAS FALLAS,0.0,OLGA MONGE ROMERO,302660069.0
551990,112520822.0,ANA MARIA ROMERO VENEGAS,31/08/1985,37 AÑOS,COSTARRICENSE,False,NaN,JOSE BRAULIO ROMERO VARGAS,900200553.0,RUTH ENGRACIA VENEGAS CALDERON,0.0

In [65]:
df.isna().sum()

Numero de cedula         3844
Nombre completo          3844
Fecha de nacimiento      3844
Edad                     3950
Nacionalidad             3844
Marginal                 3844
Conocido/a como        533479
Nombre del padre        53288
Cedula del padre         3844
Nombre de la madre       3963
Cedula de la madre       3844
dtype: int64

In [66]:
df.dropna(how='all', inplace=True)
df.isna().sum()

Numero de cedula            0
Nombre completo             0
Fecha de nacimiento         0
Edad                      106
Nacionalidad                0
Marginal                    0
Conocido/a como        529635
Nombre del padre        49444
Cedula del padre            0
Nombre de la madre        119
Cedula de la madre          0
dtype: int64

In [67]:
df.reset_index(drop=True, inplace=True)

In [68]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 548147 entries, 0 to 548146
Data columns (total 11 columns):
 #   Column               Non-Null Count   Dtype
---  ------               --------------   -----
 0   Numero de cedula     548147 non-null  float64
 1   Nombre completo      548147 non-null  object
 2   Fecha de nacimiento  548147 non-null  object
 3   Edad                 548041 non-null  object
 4   Nacionalidad         548147 non-null  object
 5   Marginal             548147 non-null  object
 6   Conocido/a como      18512 non-null   object
 7   Nombre del padre     498703 non-null  object
 8   Cedula del padre     548147 non-null  float64
 9   Nombre de la madre   548028 non-null  object
 10  Cedula de la madre   548147 non-null  float64
dtypes: float64(3), object(8)
memory usage: 46.0+ MB

In [69]:
#df['Edad'] = df['Edad'].fillna(0)
#df['Edad'] = df['Edad'].apply(lambda edad: str(edad).split(' ')[0] if edad != 'NO INDICA' else 0)

In [73]:
df['Numero de cedula'] = df['Numero de cedula'].astype(int)
df['Nombre completo'] = df['Nombre completo'].astype(str)
df['Fecha de nacimiento'] = df['Fecha de nacimiento'].astype(str)
df['Edad'] = df['Edad'].fillna(0).apply(lambda edad: str(edad).split(' ')[0] if edad != 'NO INDICA' else 0).astype(int)
df['Nacionalidad'] = df['Nacionalidad'].astype(str)
df['Marginal'] = df['Marginal'].astype(bool)
df['Conocido/a como'] = df['Conocido/a como'].fillna('N/A').astype(str)
df['Nombre del padre'] = df['Nombre del padre'].astype(str)
df['Cedula del padre'] = df['Cedula del padre'].astype(int)
df['Nombre de la madre'] = df['Nombre de la madre'].astype(str)
df['Cedula de la madre'] = df['Cedula de la madre'].astype(int)

In [76]:
df.to_csv('data.csv', index=False)